body{
    margin: 0;
    padding: 0;
}
.section1{
    display: flex;
    height: 80vh;
    margin: 0;
    width: 99%;
    /* overflow: hidden; */

    /* border: px solid black; */
    align-items: center;
    justify-content: space-around;
}
.section1 a{
    display: none;
}
.section1 .nav img{
    display: none;
}
.navbar{
    position: absolute;
    top: 0;
    height: 10vh;
    width: 99%;
    /* border: 1px solid red; */
    
    display: flex;
    overflow: hidden;
    justify-content: space-between;

}

.navbar .search{
    margin-left: 2vw;
    width: 10%;
    display: flex;
    align-items:center ;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.navbar .search img{
    height: 5vh;
    width: 5vw;
}
.navbar .logo{
    width: 10%;
}
.navbar .logo img{
    width: 20vw;
    height: 10vh;

}
.navbar .nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
}
.navbar .nav button{
    height: 5vh;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;

}
.navbar .nav .SignIn{
    background-color: white;
    border-radius: 25px;
    color: black;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0;
    padding-bottom: 0;

}

    


.navbar .nav  .SignIn:hover{
    cursor: pointer;
    color: white;
    background-color: blue;
} 
.quote{
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.section1 .box{
    display: flex;
    
}
.pic1{
    height: 80vh;
    /* border: 1px solid blue; */
    /* width: 33.3%; */
    display: flex;
}
.pic2{
    height: 80vh;
    /* border: 1px solid blue; */
    /* width: 33.3%; */
    display: flex;
}
.pic3{
    height: 80vh;
    /* border: 1px solid blue; */
    /* width: 34%vw; */
    display: flex;
    
}
.section1 img{
    width: 33vw;
}
.section2{
    /* background-color: aqua; */
    padding-left:10vw ;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    height: 60vh;
    /* border: 1px solid black; */
    padding-top: 8vh;
    padding-bottom: 8vh;
}

/* .plan_your_trip{
    
} */
.Where_to_next{
    margin-top: 1vh;
    font-size: 40px;
}
.Trending_destination{
    margin-top: 5vh;
    height: 60vh;
    width: auto;
    display: flex;
}
.Trending_destination img{
    width: 25vw;
    border-radius: 2vh;
} 
.destination1{
    display: flex;
    /* border: 1px solid black; */
    height: 45vh;
    width: 25vw ;
    margin-right: 2.5vw;
}
.destination2{
    display: flex;
    /* border: 1px solid black; */
    height: 45vh;
    width: 25vw ;
    margin-right: 2.5vw;
}.destination3{
    display: flex;
    /* border: 1px solid black; */
    height: 45vh;
    width: 25vw ;
}
.section3{
    height: 130vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 video{
    z-index: -1;
    width: 100%;
    /* height: 130%; */
    
    
}
.Best_in_Travel{
    position: absolute;
    font-size: 50px;
    z-index: 1;
    color:white;
    font-weight: 600; 
}
.section3 button{
    z-index: 1;
    position: absolute;
    top: 227vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-color: white;
    height: 3vh;
    margin-left: -8vw;
    font-weight: 900;
    border: none;
    border-radius:1.5vh ;
    cursor: pointer;
}
.section3 button:hover{
    background-color: blue;
    color: antiquewhite;
}
.section4{
    height: 100vh;
    display: flex;
    padding-left: 7vw;
    padding-right: 7vw;
}
.section4_1{
    /* background-color: aqua; */
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.Travel-stories{
    margin-top: 6vh;
    background: linear-gradient(to right, black ,red,red);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
  

}
.Explore{
    margin-top: 6vh;
    font-size: 35px;
}
.banner{
    margin-top: 6vh;
    height: 69vh;
    width: 50vw;
    /* border: 1px solid ; */
    display: flex;
    border-radius: 1vh;
}
.banner img{
    width: 50vw;
    border-radius: 1vh;
}
.banner:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.section4_2{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 100vh;
    width: 40vw;
}
.section4_2_button{
    margin-top: 16vh;
    margin-left: 5vw;
    
}
.section4_2_button button{

    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-color: white;
    height: 3vh;
    font-weight: 900;
    border: 0.5px solid gray;
    border-radius:1.5vh ;
}
.section4_2_button button:hover{
    background-color: blue;
    color: antiquewhite;
    cursor: pointer;
}
.Section4_options{
    margin-top: 5.5vh;
    
    height: 70vh;
    
    /* border: 1px solid; */
}
.Section4_options .option1{
    
    margin-left: 1vw;
    margin-right: 1vw;
    /* border: 1px solid; */
    height: 14vh;
    border-radius: 1vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    
}
.Section4_options .option1 img{
    height: 10vh;
    margin-left: 2vh;
    border-radius: 0.5vh;
    
}
.Section4_options .option1 .text{
    height:8vh ;
    width: 22vw;
    /* border: 1px solid; */
    display: flex;
    margin-left: 1vh;
    flex-direction: column;
    justify-content: space-around;
   

}
.Section4_options .option1 .text p{
    margin: 0;

    padding: 0;
}

.Section4_options .option1 .text h3{
    margin: 0;
    padding: 0;
}
.Section4_options .option1:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.Section4_options .option2{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /* border: 1px solid; */
    height: 14vh;
    border-radius: 1vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    
}
.Section4_options .option2 img{
    height: 10vh;
    margin-left: 2vh;
    border-radius: 0.5vh;
}
.Section4_options .option2 .text{
    height:8vh ;
    width: 22vw;
    /* border: 1px solid; */
    display: flex;
    margin-left: 1vh;
    flex-direction: column;
    justify-content: space-around;
   

}
.Section4_options .option2 .text p{
    margin: 0;

    padding: 0;
}

.Section4_options .option2 .text h3{
    margin: 0;
    padding: 0;
}
.Section4_options .option2:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.Section4_options .option3{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /* border: 1px solid; */
    height: 14vh;
    border-radius: 1vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    
}
.Section4_options .option3 img{
    height: 10vh;
    margin-left: 2vh;
    border-radius: 0.5vh;
}
.Section4_options .option3 .text{
    height:8vh ;
    width: 22vw;
    /* border: 1px solid; */
    display: flex;
    margin-left: 1vh;
    flex-direction: column;
    justify-content: space-around;
   

}
.Section4_options .option3 .text p{
    margin: 0;

    padding: 0;
}

.Section4_options .option3 .text h3{
    margin: 0;
    padding: 0;
}
.Section4_options .option3:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.Section4_options .option4{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /* border: 1px solid; */
    height: 14vh;
    border-radius: 1vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    
}
.Section4_options .option4 img{
    height: 10vh;
    margin-left: 2vh;
    border-radius: 0.5vh;
}
.Section4_options .option4 .text{
    height:8vh ;
    width: 22vw;
    /* border: 1px solid; */
    display: flex;
    margin-left: 1vh;
    flex-direction: column;
    justify-content: space-around;
   

}
.Section4_options .option4 .text p{
    margin: 0;

    padding: 0;
}

.Section4_options .option4 .text h3{
    margin: 0;
    padding: 0;
}
.Section4_options .option4:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
/* .Section4_options .option2{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border: 1px solid;
    height: 14vh;
    border-radius: 1vw;
    background-color: white
}
.Section4_options .option3{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border: 1px solid;
    height: 14vh;
    border-radius: 1vw;
    background-color: white
}
.Section4_options .option4{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border: 1px solid;
    height: 14vh;
    border-radius: 1vw;
    background-color: white
} */
.section5{
    border: 1px solid;
    height: 85vh;
    display: flex;
    background-color: black;
}
.section5 img{
    width: 99.9%;
    height: 70vh;
    z-index: 0;
    position: absolute;
}
.section5 .box{
    margin-top: 5vh;
    margin-left: 4vw;
    z-index: 1;
    width: 40vw;
}
.section5 .box .sentence1{
    color: white;
    font-size: 15px;
    margin-bottom: 2vh;
}
.section5 .box .sentence2{
    color: white;
    font-size: 55px;
    font-weight: 800;
}
.section5 .box .sentence3{
    margin-top: 2vh;
    color: white;
    word-spacing: 3px;
    font-weight: 500;
    margin-bottom: 4vh;
}
.section5 .box button{
    font-size: 20px;
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 3vh;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    background-color: transparent;
}
.section5 .box button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.section6{
    z-index: 1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 78, 233);
}
.section6 .lovelyplanet{
    margin-top: 7vh;
    margin-bottom: 7vh;
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.section6 .carousel{
    height: 25vh;
    /* border: 1px solid; */
    margin-left: 0;
    width: 99.5%;
    display: flex;
    overflow-y: hidden;
    overflow-x:hidden ;
    

}
.section6 .carousel img{
    height: 24vh;
    width:  20vw;
}
.section6 .social{
    margin-top: 1vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    color: white;
    font-weight: 900;
}
.section6 .social img{
    height: 3.5vh;
}
footer{
    
    height: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    /* background-color: aqua; */
}
footer .footer_1{
    /* border: 1px solid; */
    height: 80vh;
    width: 35vw;
    margin-left: 6vw;
}

footer .footer_1 h1{
    color: blue;
    font-size: 45px;
    margin-bottom: 0;
}
footer .footer_1  button{
    font-size: 15px;
    border-radius: 4vh;
    font-weight: 600;
    border: none;
    background-color: blue;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
footer .footer_1  button:hover{
    background-color: rgb(0,0,255,0.7);
    cursor: pointer;
}
footer .footer_1 .social {
    width: 25;
}
footer .footer_1 .social  img{
    height: 4vh;
}
footer .footer_2{
    /* border: 1px solid; */
    height: 80vh;
    width: 20vw;
    cursor: pointer;
}

footer ul{
    text-align: left;
}

footer .footer_3{
    /* border: 1px solid; */
    height: 80vh;
    width: 20vw;
    cursor: pointer;
}footer .footer_4{
    /* border: 1px solid; */
    height: 80vh;
    width: 25vw;
    cursor: pointer;
    /* background-color: antiquewhite; */
}
@media only screen and (max-width: 425px){
   
    #myLinks{
        display: none;
    }
    .section1 .search{
        display: none;
    }
    .section1 a{
        height: 1vh;
        display: block;
        /* position: fixed; */
        /* z-index: 20; */
        /* position: absolute; */

    }
    .section1 a img{
        height: 10vh;
        width: 20vw;
        /* z-index: 100; */
        margin-left: 0;
    }
    .navbar{
        height: 100vh;
        /* width: 90vw; */
    }
    .section1 .nav{
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        height: 77vh;
        width: 100%;
        z-index: 10;
    }
    .section1 .nav img{
        display: block;
    }
    .section1 .nav button{
        border: 1px solid;
        color: white;
        background-color: black;
        border-radius: 20px;
    }
    .section1 .SignIn{
        margin-bottom: 3vh;
    }
    .navbar .logo{
        display: none;
    }
    .section1 .box{
        display: flex;
        overflow-x:scroll;
    }
    .section1  .box img{
        width: 100vw;
    }
    .section2{
        /* overflow-x:scroll ; */
        overflow-y: hidden ;
    }
    .section2 .Trending_destination {
        /* width: 300vw; */
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 55vw;
        

    }
    .section2 .Trending_destination img{
        width: 80vw;
        /* height: 70vh; */
    }
    .section3{
        height: 40vh;
    }
    .section3 button{
        display: none;
    }
    .section4{
        flex-direction: column;
        height: 200vh;
        
    }
    .section4 .section4_1{
        width: 80vw;
    }
    .section4 .section4_1 img{
        width: 80vw;
    }
    .section4 .section4_2 button{
        font-size: small;
    }
    .section4 .section4_2 .Section4_options{
        width: 80vw;
        overflow-y: hidden;
        font-size: small;
    }
    .section4 .section4_2 .Section4_options p{
        width: 50vw;
    }
    .section4 .section4_2 .Section4_options h3{
        width: 50vw;
    }
    .section5{
        height: 90vh;
        overflow-y: hidden;
    }
    .section5 .box .sentence2{
        font-size: 30px;
        
    }
    .section5 .box button{
        font-size: 17px;
        
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .footer_1{
        width: 80vw;
        /* border: 1px solid; */
    }
    .footer_1 h1{
        width: 80vw;
    }
    .footer_1 h4{
        width: 80vw;
    }
    .footer_1 p{
        width: 80vw;
    }
    .footer_1 .social{
        width: 90vw;
    }
    .footer_1 h2{
        width: 90vw;
    }
    .footer_2{
        display: none;
    }
    .footer_3{
        display: none;
    }
    .footer_4{
        display: none;
    }
}
